# NOTA: El nombre de este archivo debe ser .env
# Variables de inicialización de la APP
ADMIN=""
NAME=""
COMPANY_NAME=""
PROJECT_NAME=""

# Variables de Base de Datos
DB_USER=""
DB_PASSWORD=""
DB_HOST=""
DB_PORT=3306
DB_NAME=""

# Variables de AAA
SECRET_KEY=""
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=15

# Variables de Flujo de verificación de correo
SECRET_KEY_CHECK_MAIL=""
SECURITY_PASSWD_SALT=""
DOMINIO="http://127.0.0.1/"

# Variables de correo
EMAIL_SERVER=""
EMAIL_PORT=465
EMAIL_USER=""
EMAIL_PASSWD=""
