{% extends "email/base_email.html" %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block content %}
<h2 class="email-title">Restablecimiento de Contraseña</h2>

<p class="email-text">
    Hola <strong>{{ username }}</strong>,
</p>

<p class="email-text">
    Hemos recibido una solicitud para restablecer la contraseña de tu cuenta asociada al correo <strong>{{ email
        }}</strong>.
</p>

<p class="email-text">
    Para continuar con el proceso, por favor haz clic en el siguiente botón:
</p>

<div class="email-cta-wrap">
    <a href="{{ url }}" class="email-cta">Restablecer
        mi Contraseña</a>
</div>

<p class="email-footnote">
    Si no solicitaste este cambio, puedes ignorar este correo. Tu contraseña permanecerá segura.<br>
    Este enlace expirará en 1 hora.
</p>
{% endblock %}
